*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;    
}
.sky{
    /* height: 50vh; */
    height: 100vh;
    width: 100%;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    position: absolute;
    
}
.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -18vh;
   
}
.track{
    height: 50vh;
    width: 200vw;
    background-image: url(track.png);
    position: absolute;
    /* background-size: cover; */
    top: 70vh;
    background-repeat: repeat-x;
    animation: carmove linear 0.6s infinite;

}
.car{
    width: 359px;
    height: 100px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0vw;
    bottom: 30vh;
    animation: carshake linear 0.4s infinite, car linear 5s infinite;
}

@keyframes car {
    0%{
        transform: translateY(9vh);
    }
    100%{
        transform: translateX(80vw);
    }
    
}


.wheel1 img{
    width: 77px;
    position: relative;
    top: 36px;
    left: 34px;
    animation: wheelrotation linear 0.3s infinite;


}

.wheel2 img{
    width:77px;
    position: relative;
    top: -46px;
    left: 215px;
    animation: wheelrotation linear 0.3s infinite;
}

@keyframes wheelrotation {

    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes carmove {

    100%{
        transform: translateX(-100vw);
    }
    
}

@keyframes carshake {

    0%{
        transform: translateY(-0.4vh);

    }
    50%{
        transform: translateY(0.4vh);
    }
    100%{
        transform: translateY(-0.4vh);
    }
    
}

@keyframes carmove {
    100%{
        transform: translateX(-100vw);
    }
    
}